
<ion-header>

  <ion-navbar>
    <ion-title>Tips</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="light">Líneas Gratuitas</ion-item-divider>
    <ion-item>
			<p item-start>Línea de Emergencia</p>
			<p item-end>123</p>
		</ion-item>
    <ion-item>
			<p item-start>Cruz Roja</p>
			<p item-end>132</p>
		</ion-item>
		<ion-item>
			<p item-start>Defensa Civil</p>
			<p item-end>144</p>
		</ion-item>
  </ion-item-group>
	<ion-item-group>
    <ion-item-divider color="light">¿Qué hacer?</ion-item-divider>
    <ion-item>
			<h2>Buscar sitios de control</h2>
			<p>Si le es posible caminar busque los centros cercanos de atención</p>
		</ion-item>
    <ion-item>
			<h2>Lorem ipsum</h2>
			<p>lorem ipsum, lorem ipsum</p>
		</ion-item>
  </ion-item-group>
	<ion-item-group>
    <ion-item-divider color="light">Primeros auxilios</ion-item-divider>
   <ion-item>
			<h2>Lorem ipsum</h2>
			<p>lorem ipsum, lorem ipsum</p>
		</ion-item>
		<ion-item>
			<h2>Lorem ipsum</h2>
			<p>lorem ipsum, lorem ipsum</p>
		</ion-item>
  </ion-item-group>
	<ion-fab end bottom>
   <button ion-fab (click)="chat()">Chat</button>
 </ion-fab>
</ion-content>
