<ion-header>

  <ion-navbar>
    <ion-title>Buscar Persona</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Documento de identidad, nombre persona"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of currentItems">
      <h2><b>{{item.names}}</b></h2>
      <p>{{item.id}}</p>
			<p  *ngIf="item.status=='1'">Herido</p>
			<p *ngIf="item.status=='2'">Fallecio</p>
			<p *ngIf="item.status=='3'">Con vida</p>
			<p *ngIf="item.status=='4'">Desaparecido</p>
      <ion-note>{{item.description}}</ion-note>
			<p item-end>{{item.createdAt|date:'dd/MMM/yy HH:mm:ss'}} {{item.status}}</p>
    </button>
  </ion-list>
</ion-content>