<ion-header>

  <ion-navbar>
    <ion-title>Reportar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<form [formGroup]="myForm" (ngSubmit)="logForm()" novalidate>
			<ion-item style="display: none;">
        <ion-label>Tipo Documento:</ion-label>
      </ion-item>
			<br>
			<ion-item>
        <ion-label>Documento:</ion-label>
        <ion-input type="number" [(ngModel)]="todo.id" formControlName="id" ></ion-input>
      </ion-item>
			<br>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input type="text" formControlName="names"></ion-input>
      </ion-item>
			<ion-item *ngIf="myForm.get('names').errors && myForm.get('names').dirty">
      		<p color="danger" ion-text *ngIf="myForm.get('names').hasError('required')">Campo Obligatorio</p>
    		</ion-item>
			<br>
      <ion-item>
        <ion-label>Estado:</ion-label>
        <ion-select [(ngModel)]="todo.status" formControlName="status" >
					<ion-option *ngFor="let estado of estados" [value]="estado.id">{{estado.name}}</ion-option>
				</ion-select>
      </ion-item>
			<ion-item *ngIf="myForm.get('status').errors && myForm.get('status').dirty">
      		<p color="danger" ion-text *ngIf="myForm.get('status').hasError('required')">Campo Obligatorio</p>
    		</ion-item>
			<br>
			 <ion-item>
        <ion-label>Edad:</ion-label>
        <ion-select  formControlName="age" >
					<ion-option *ngFor="let n of edad" [value]="n">{{n}}</ion-option>
				</ion-select>
      </ion-item>
			<ion-item *ngIf="myForm.get('age').errors && myForm.get('age').dirty">
      		<p color="danger" ion-text *ngIf="myForm.get('age').hasError('required')">Campo Obligatorio</p>
    		</ion-item>
			<br>
			 <ion-item>
        <ion-label>Género:</ion-label>
        <ion-select  formControlName="genre" >
					<ion-option  [value]="m">Masculino</ion-option>
					<ion-option [selected]="true" [value]="f">Femenino</ion-option>
				</ion-select>
      </ion-item>
			<ion-item *ngIf="myForm.get('genre').errors && myForm.get('genre').dirty">
      		<p color="danger" ion-text *ngIf="myForm.get('genre').hasError('required')">Campo Obligatorio</p>
    		</ion-item>
			<br>
			<ion-item>
        <ion-label>Descripción:</ion-label>
        <ion-textarea formControlName="description" rows="3"></ion-textarea>
      </ion-item>
			<br>
			
      <button ion-button type="submit" [disabled]="myForm.invalid" block>Enviar</button>
    </form>
</ion-content>